<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="devise-container">
  <center>
  <h2>Sign Up</h2>
  </center>
  <div class="row">
    <div class="form-group">
      <%= f.label :First_Name %><span class="red">*</span><br />
      <%= f.text_field :first_name, autofocus: true, class: "form-control" , required: true%>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :Last_Name %><span class="red">*</span><br />
      <%= f.text_field :last_name, autofocus: true, class: "form-control"  , required: true%>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :email %><span class="red">*</span><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" , required: true %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :Phone_Number %><span class="red">*</span><br />
      <%= f.text_field :phone_number, autofocus: true, class: "form-control"  , required: true%>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= f.label :password %><span class="red">*</span>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" , required: true %>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= f.label :password_confirmation %><span class="red">*</span><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  , required: true%>
    </div>
  </div>
  <div class="row">
    <div class="form-group actions">
        <%= f.submit "Sign up", class: "btn btn-lg bg-danger" , id: 'signup'%>
        <div class="pull-right">
            Do you have an account? <%= link_to 'Sign In' ,new_user_session_path , class: 'danger' %> 
        </div>
    </div>
  </div>
</div>
<% end %>
