<div class="vendorShow">
  <div class="row">
    <div class="col-md-3">
      <div class="navbar navbar-inverse navbar-fixed-left">
        <ul class="nav navbar-nav">
          <li><%= link_to vendor_path(@vendor) do %>
            <i class="fas fa-home"></i> Dashboard
            <% end %>  
          </li> 
          <li><%= link_to 'Orders' %></li>
          <li  class="active"><%= link_to 'Menu' , vendor_products_path(@vendor) %></li>
          <li><%= link_to 'Future Availability' %></li>
          <li><%= link_to 'Notifications' %></li>
          <li><%= link_to 'Foodtruck settings' ,edit_vendor_path(@vendor) %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="menu-item">
        <center> Menu-item<br />
          <%= link_to 'Add Menu Item' , new_vendor_product_path(@vendor) , class: 'btn btn-white' %>
        </center>
      </div>
      <div class="menu-whitebox"> 
        <% @products.each do |p| %>
          <div class="productbox">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag(p.feature_image , size: 200) if p.feature_image.attached? %>
              </div>
              <div class="col-md-6">
                <h3><%= p.name %></h3>
                <strong>$ <%= p.cost_in_dollars %></strong>
                <div class="badge bg-info">
                  <span class="badge-text">
                    <%= p.menu_category %>
                  </span>
                </div>
                <br /><br />
                <%= p.description %>
                <div class="itemTags">
                  <div class="badge bg-info">
                    <span class="badge-text">
                      <%= p.tags %>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                Available
                <label class="switch checkbox-inline">
                  <% if p.availability == 1 %>
                    <%= check_box_tag :availability , '1' , checked: true %>
                  <% else %>
                    <%= check_box_tag :availability , '0' , checked: false %>
                  <% end %>
                  <span class="slider round"></span>
                </label> 
                <br /><br /><br /><br /><br /><br />
                <%= link_to 'Add To Catering' , root_path , class: 'btn btn-border' %>
                <%= link_to 'Edit' , edit_vendor_product_path(@vendor , p) , class: 'btn btn-border' %>
     
              </div>
            </div>
          </div>
          <hr >
        <% end %>
      </div>
    </div>
  </div>
</div>