<!DOCTYPE html>
<html>
  <head>
    <title>FoodTrucks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'product', 'data-turbolinks-track': 'reload' %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  </head>

  <body>    
  <%= render 'layouts/header' %>

  <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
     </div>
  <% end %>

    <%= yield %>
  </div>

  </body>

  <footer class="footer">
  <div class="col-md-2">
    <div class="logo">
      <a href="\">
      <%= image_tag("logos/logo.png")%>
      </a>
    </div>
  </div>
  <div class="col-md-8 centerText">
    <ul class="footerMenu">
      <li>   
      <% if user_signed_in? %>
        <% if current_user.vendor %>
          <%= link_to 'Vendor Dashboard' , vendor_path(current_user.vendor) %>
        <% else %>
         <%= link_to 'Become vendor ?' , new_vendor_path %>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</footer>
</html>
